.copy_right_footer{
text-align: center;
text-shadow:1px 1px gray ;  
bottom: 0;
line-height: 3;
position: fixed;
width:100%;
}
.header_div{
background-color:#5a554f ;    
}
.main_div{
background-color: #bfbbb6;    
}
img{
margin-bottom: 20px;    
}